body{
    background-color: #faf7e7ff;
    color: #937460;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#banner-canva{
    display: flex;
    flex-flow:column;
    align-items: center; 
}
#countdown #information{
    display: flex;
    flex-flow:column;
    align-items: center;
}
.item-countdown{
    display: flex;
    flex-flow:column;
    align-items: center;
}
.text-info, .asistencia, .regalos, .mapa, .despedida{
    display: flex;
    flex-flow:column;
    align-items: center;
    padding: 20px;
}
.icon-element{
    display: flex;
    flex-flow: column;
    align-items: center;

}
.icon-info{
    display: flex;
    flex-flow:row;
    justify-content:space-evenly;
}
.footer{
    display: flex;
    flex-flow:column;
    align-items: center;
    padding:10px;
    font-size: 15px;
    color:#faf7e7ff;
    background-color: #937460ff;
    margin: 0;
}
.item-countdown,#banner-canva,.regalos{
    background-color: #95D994;
    color:#faf7e7ff;
    padding:10px;
}
#ubicacion{
    color:#95D994;
}
#contador-marco{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 500px;
    background-color:#F3EA6A;
    border-radius: 5px;
    border-color: #937460;
    border-width: 10px;
}
#contador-fecha{
    color:#937460;
    font-size: 40px;
    font-weight: 800;
}